<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eclubprague.iot.android.weissmydeweiss" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bulb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivityTest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <data
                android:host="gitkit"
                android:scheme="com.googleusercontent.apps.443649814858-lvc1abj9ccnudm6l199f23ddqapgo1u3" />

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eclubprague.iot.android.weissmydeweiss.LoginActivity" />
        </activity>
        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="identitytoolkit.show_providers"
            android:value="Google" />
        <meta-data
            android:name="identitytoolkit.use_google_plus"
            android:value="true" />
        <meta-data
            android:name="identitytoolkit.api_key"
            android:value="AIzaSyDihnqr7LBS061fbvtZeHsVxD2yoEtw-zE" />
        <meta-data
            android:name="identitytoolkit.server_client_id"
            android:value="443649814858-lvc1abj9ccnudm6l199f23ddqapgo1u3.apps.googleusercontent.com" />
        <meta-data
            android:name="identitytoolkit.server_widget_url"
            android:value="http://mlha-139.sin.cvut.cz:8080/callback" />-->

        <activity android:name=".ui.SensorChartActivity"/>
        <activity android:name=".ui.charts.AccelerometerChartActivity"/>
        <activity android:name=".ui.charts.MagneticFieldChart"/>
        <activity android:name=".ui.charts.ProximityChart"/>
        <activity android:name=".ui.charts.LightSensorChart"/>
        <activity android:name=".ui.charts.GyroscopeChart"/>
        <activity android:name=".ui.charts.OneValueChartActivity"/>
        <activity android:name=".ui.charts.SensorDataChartActivity"/>
        <activity android:name=".ui.charts.ThermometerChartActivity"/>
        <activity android:name=".ui.charts.PirChartActivity"/>
        <activity android:name=".ui.charts.ThermChartActivity"/>


    </application>

</manifest>
